
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
   <h1 class="display-4">Groenten en fruit</h1>
   <h2>Stock pagina</h2>
   <br />
   <h4>StockTagHelper</h4>
   <stock></stock>
</div>

