<div class="d-flex bg-success text-white p-2">
    <span class="navbar-brand flex-grow-1 ml-2">
        <a class="btn btn-block link-light border-white" asp-controller="Home" asp-action="Index">Start - stock</a>
        <a class="btn btn-block link-light border-white" asp-controller="Artikel" asp-action="Index">Artikels</a>
        <a class="btn btn-block link-light border-white" asp-controller="AankoopOrder" asp-action="Index">AankoopOrders</a>
        <a class="btn btn-block link-light border-white" asp-controller="VerkoopOrder" asp-action="Index">VerkoopOrders</a>
    </span>    
</div>